<!DOCTYPE html>
<html>
    <h1>Madlibs form</h1>
    <form action="madlibs" method="get">
        What's your name:
        <input type="text" name="name"> <br>
        
        Are you excited?<br>
        <input type="radio" name="excited" value="yes"> Yes! <br>
        <input type="radio" name="excited" value="very"> Very excited! <br>
        <input type="radio" name="excited" value="no"> No, but I'm about to be! <br>
        <input type="radio" name="excited" value="more"> I'm more than excited <br>
        
        Verb with –ing:
        <input type="text" name="verb1">  <br>

        A noun that’s a place:
        <input type="text" name="place1">  <br>
        
        A holiday song:
        <input type="text" name="song">  <br>
        
        Adjective:
        <input type="text" name="adj1">  <br>
        
        Adjective:
        <input type="text" name="adj2">  <br>
        
        Your friend:
        <input type="text" name="friend">  <br>
        
        Verb with –ed:
        <input type="text" name="verb2"> <br>
        
        Verb with –ed:
        <input type="text" name="verb3">  <br>
        
        Amount of time:
        <input type="text" name="time">  <br>
        
        Verb:
        <input type="text" name="verb4">  <br>
        
        Plural noun:
        <input type="text" name="noun1">  <br>
        
        The place you chose up top:
        <input type="text" name="place2">  <br>
        
        A relative:
        <input type="text" name="relative">  <br>
        
        A number:
        <input type="text" name="number">  <br>
        
        A food item:
        <input type="text" name="food">  <br>
                
        <button type=submit> Submit </button>
    </form>
</html>