<!DOCTYPE html>
<html>
<head>

    <!--put scripts in header with tag async-->
    <script type="text/javascript" src="js/clientScript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
    <title> Krish's Website</title>
</head>

<body>
    <div class="topnav" id="myTopnav">
      <a href="" class="active">Home</a>
      <a href="funpage">Fun page (numbers)</a>
      <a href="weatherForm">Weather App</a>
      <a href="funform">Fun Form (Madlibs)</a>
      <a href="votingForm">Voting Form</a>
      <a href="scrabble">Scrabble Word Finder</a>
      <a href="spotifyLogin">Spotify Stats</a>
    </div>
    
    <h1> Hi, you are visitor {{num_visitors}}</h1>


</body>
</html>