<!doctype html>
<html lang="en">
  <head>
    <title>My Test Page</title>
  </head>
  <body>
    
    <ul>
        {{#each factsPassed}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    
  </body>
</html>