<!DOCTYPE html>
<html>
    
    <form action="weather" method="get">
        Latitude:
        <input type="number" step="0.00001" id="lat" name="lat"><br>
        
        Longitude:
        <input type="number" step="0.00001" id="long" name="long"><br>
        
        Format? <br>
        <input type="radio" name="json" value="false" checked> Normal <br>
        <input type="radio" name="json" value="true"> JSON<br><br>
        
        <button type="submit">Button</button>

    </form>
    
</html>